@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  position: relative;
  background: linear-gradient(135deg, #0002,wheat, #0001, wheat, #0001, wheat, #0001,wheat, #0001);
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100hw;
  height: 100vh;
  background: wheat;
  z-index: -1;
}
/* .tabs-one {
    height: 99vh;
    width: 100wh;
    margin: 0;
    padding: 0;
} */

.nav-tabs .nav-link {
    color: #400;
    font-weight: 900;
    width: 100%;
    font-size: 16px;
}

.nav-tabs .nav-link.active {
    background-color: wheat;
    border: none;
    color: #400;
}

.list-group-item {
    background-color: transparent;
    color: #000;
    font-weight: 900;
    border-bottom: 1px solid wheat;
}

.list-group-item:hover {
    background-color: #0009;
    color: wheat;
    cursor: pointer;
}


#sec .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    height: 100vh;
    width: 90%; 
}


#sec .side-image-one {
    margin-top: 100px;
    background: #0000;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

#sec .fun-side {
    padding: 0;
    margin: 0;
    color: #004;
    width: 100wh;
    height: 80vh;
    border-radius: 10px;
}
#sec .fun-side h3 {
    font-weight: 900;
    font-family: monospace;
    font-size: 56px;
}

#driver {
    height: 100vh;
    width: 99;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

#driver h3 {
    font-size: 26px;
    font-weight: 900;
    animation: fadeIn 1s ease-in-out;
}
#driver .truck-details h3 {
    color: wheat;
    font-size: 26px;
    font-weight: 900;
    animation: fadeIn 1s ease-in-out;
}

#driver .truck-details {
    background-color: #0004;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100%;
    padding: 0;
    margin: 0;
}
#driver .truck-details .truck-plate {
    text-align: center;
    padding-top: 10px;
    font-weight: 900;
    text-transform: uppercase;
    font-family: cursive;
    color: #004;
}
#driver .truck-details .driver-details {
    width: 80%;
    margin: auto;
    background-color: #fff;
    color: #004;
    border: 1px solid #004;
    padding: 5px 20px;
    border-radius: 10px;
}

#driver .map-frame{
    width: 100%;
    padding-top: 10px;
    border: none;
}

#driver iframe {
    height: 40vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    border: 0;
}

#driver .truck-request-trans {
    background: #0004;
    border: 1px solid wheat;
    width: 80%;
    margin: auto;
    border-radius: 10px;
}
#driver button {
    font-size: 12px;
    width: 30%;
    border: 1px solid #004;
    color: #004;
}
#driver .extra-info {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -1%);
    width: 80%;
    text-align: center;
    color: #004;
}

#driver .items {
    display: flex;
    width: 100%;
}
#driver .item-title-one {
    width: 50%;
    background-color: #0009;
    text-align: center;
    color: wheat;
    font-weight: 900;
    padding: 4px;
    margin: 2px;
}
#driver .item-title-two {
    width: 30%;
    background-color: #0009;
    text-align: center;
    color: wheat;
    font-weight: 900;
    padding: 4px;
    margin: 2px;
}
#driver .item-fields {
    display: flex;
    color: #002;
}
#driver .item-fields input[type='text'] {
    width: 50%;
    background-color: #fff;
    text-align: center;
    font-weight: 900;
    padding: 4px;
    border: none;
    margin: 2px;
    outline: none;
}
#driver .item-fields input[type='number'] {
    width: 30%;
    background-color: #fff;
    text-align: center;
    font-weight: 900;
    padding: 4px;
    border: none;
    margin: 2px;
    outline: none;
}
#driver .item-fields button {
    background-color: #fff;
    width: 15%;
    text-align: center;
    color: red;
    font-weight: 900;
    padding: 4px;
    border: none;
}
#driver textarea {
    width: 80%;
    background-color: #fff;
    font-weight: 900;
    padding: 5px;
    border: none;
    margin: 2px;
    outline: none;
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
#sec .side-image .span-one {
    position: relative;
    top: 35%;
    left: 9%;
    transform: translate(-10%, -30%);
    height: 200px;
    width: 10px;
    transform: rotate(-90deg);
    font-size: 44px;
    font-weight: 900;
    color: #600;
    text-shadow: 0 0 10px #070;
    line-height: normal;
}

#sec .side-image span .fas-onetr {
    font-size: 39px;
    color: #040;
    animation: fadeIn 3s ease-in;
    padding-top: 50%;
}
#sec .side-image span .fas-one {
    font-size: 39px;
    color: #040;
    animation: fadeIn 3s ease-in;
}
#sec .side-image span .fas-two {
    font-size: 39px;
    color: #400;
    animation: fadeIn 5s ease-in-out;
}
#sec .side-image span .fas-three {
    font-size: 39px;
    color: #004;
    animation: fadeIn 7s ease-in;
}


.form-buttons {
    position: fixed;
    bottom: 1%;
    left: 80%;
    transform: translate(-50%, -1%);
    width: 80%;
}
#requestForm .form-buttons .add-item,
#requestForm .form-buttons .request-item {
    position: fixed;
    font-size: 12px;
    width: 50%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #000;
    color: #000;
    font-weight: 900;
    background-color: #fff;
}
#requestForm {
    height: 68vh;
    overflow: scroll;
}


/* small devices */

@media (max-width: 768px) {
    body {
        height: 100vh;
        margin: 0;
        padding: 0;
        font-family: "poppins", sans-serif;
        position: relative;
        background: #fff;
        overflow: hidden;
    }
    #sec .side-image {
        display: none;
    }
    #sec .one {
        width: 100wh;
        height: 90vh;
    }
    .tabs-one {
        height: 100vh;
        width: 100%;
        margin: 0;
        background: transparent;
    }
    .nav-tabs .nav-link {
        color: #000;
        font-weight: 900;
        width: 100%;
        font-size: 12px;
    }
    
    .list-group-item {
        background-color: transparent;
        font-size: 12px;
        color: #000;
        font-weight: 900;
        border-bottom: 1px solid wheat;
    }


    #driver .item-title-one {
        width: 60%;
    }
    #driver .item-title-two {
        width: 30%;
    }

    #driver .item-fields input[type='text'] {
        width: 60%;
        background-color: #0001;
    }

    #driver .item-fields input[type='number'] {
        width: 30%;
        background-color: #0001;
    }
    #driver textarea {
        width: 90%;
        background-color: #0001;
    }
    #driver .item-fields button {
        background-color: #fff;
        width: 8%;
        text-align: center;
        color: red;
        font-weight: 900;
        padding: 4px;
        border: none;
    }


    #driver .truck-request-trans {
        width: 95%;
        margin: auto;
        border-radius: 10px;
    }
    #driver .extra-info {
        display: none;
    }
    .form-buttons {
        position: fixed;
        bottom: 1%;
        left: 50%;
        transform: translate(-50%, -1%);
        width: 100%;
    }
    #requestForm .form-buttons .add-item,
    #requestForm .form-buttons .request-item {
        position: fixed;
        font-size: 12px;
        width: 50%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #000;
        color: #000;
        font-weight: 900;
        background-color: #fff;
    }
    #requestForm {
        height: 68vh;
        overflow: scroll;
    }
}